{% set URLList = path('goat_list') %}
{% set URLAdd = path('goat_add') %}

<table>
        <tr>
                <td><a href={{ URLList }}>Liste des Chèvres</a></td>
                <td><a href={{ URLAdd }}>Ajouter une race de Chèvre</a></td>
        </tr>
</table>