body{
    background-color: antiquewhite; /*Change la couleur du fond*/
}

a {
    color: darkgreen;
    text-decoration: none;
}

a:hover {
    color: saddlebrown; !important;
}


/* The sidebar menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: burlywood;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content Xpx from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu  */
.sidenav a:hover {
    color: rebeccapurple; !important;
}

.sidenav_expand{
    padding-left: 0px;
    font-weight: bolder;
}

ul.sidenav{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
}

ul.sidenav ul{
    list-style-type: none;
    margin: 0;
    padding: 3px 0 3px 10px;
}

/* Style page content */
.main {
 /* Same as the width of the sidebar */
    padding: 0 5px 0 200px;
}


